<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Nutrilicious</h1>
                    <p class="intro-text">Find your food's macros fast.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Nutritional info that matters</h2>
            <p>Choose which macronutrients you want to see and then search for what you're eating.</p>
        </div>
    </div>
</section>
